<div class="panel panel-scrolling">
  <div class="panel-heading">
    <h3 class="panel-title">Recent Tweets</h3>
    <div class="right">
      <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
      <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
    </div>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled activity-list">
      <li>
        <img src="assets/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
        <p><a routerLink="">Michael</a> <span class="fa fa-arrow-circle-right"></span> achieved 80% of his completed tasks <span class="timestamp">20 minutes ago</span></p>
      </li>
      <li>
        <img src="assets/img/user2.png" alt="Avatar" class="img-circle pull-left avatar">
        <p><a routerLink="">Daniel</a> <span class="fa fa-arrow-circle-right"></span> been added as a team member to project <a routerLink="">System Update</a> <span class="timestamp">Yesterday</span></p>
      </li>
      <li>
        <img src="assets/img/user3.png" alt="Avatar" class="img-circle pull-left avatar">
        <p><a routerLink="">Martha</a> <span class="fa fa-arrow-circle-right"></span> a new heatmap view <a routerLink="">Landing Page</a> <span class="timestamp">2 days ago</span></p>
      </li>
      <li>
        <img src="assets/img/user4.png" alt="Avatar" class="img-circle pull-left avatar">
        <p><a routerLink="">Jane</a> <span class="fa fa-arrow-circle-right"></span> completed all of the tasks <span class="timestamp">2 days ago</span></p>
      </li>
      <li>
        <img src="assets/img/user5.png" alt="Avatar" class="img-circle pull-left avatar">
        <p><a routerLink="">Jason</a> <span class="fa fa-arrow-circle-right"></span> a discussion about <a routerLink="">Weekly Meeting</a> <span class="timestamp">3 days ago</span></p>
      </li>
    </ul>
    <button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>
  </div>
</div>
<!-- END TIMELINE -->
